*.swp
data/yoho-enroll/*
data/*.tgz
data/*.tar.gz
*.o
*.wav

.Xauthority
.bash_history
.bashrc
.cache/
.config
.cshrc
.dbus
.gconf
.gcond
.gitconfig
.gstreamer-0.10/
.history
.login
.logout
.mozilla/
.pulse-cookie
.tcshrc
.tcshrc.mine
.vim/
.viminfo
